.a1 {
  font-family: "PT Serif"; }
  .a1 .tittle {
    margin: 0 0 20px 0;
    text-align: center; }
  .a1 .menu {
    margin: 0 0 45px 0; }
    .a1 .menu .menu1 {
      margin-top: 50px; }
      .a1 .menu .menu1 .text-tittle {
        line-height: 1.2em;
        text-decoration: none;
        color: black; }
      .a1 .menu .menu1 .text-date {
        color: #a5a8aa;
        font-size: 25px;
        opacity: 0.5;
        text-transform: uppercase;
        display: inline-block;
        margin-top: 10px; }
